/* reset */
body {
    margin: 0;
    font-family: 'Baloo Tammudu 2', 'Noto Sans TC', sans-serif;
    /* 'Noto Serif TC', */
    background: var(--bgcolor);
}
h1, h2, h3, h4, h5, p {
    margin: 0;
}
a {
    text-decoration: none;
}
small {
    opacity: 0.5;
}
button {
    border-style: none;
}
ul {
    list-style: none;
    padding-left: 0;
}

/* universal */
:root {
    --sidebarwidth: 200px;
    --sidebarbgcolor:#b4dfe3;
    --bgcolor:#f2fafa;
    --primarycolor: #48b2b2;
    --linkcolor: #000;
    --secondcolor:  #000;
}
.wrapper {
    width: 100%;
}
.hide {
    display: none;
}

/* sidebar */
.sidebar.collapse  {
    right: -200px;
}
.sidebar {
    width: var(--sidebarwidth);
    background: rgb(180,223,227);
    background: -moz-linear-gradient(159deg, rgba(180,223,227,1) 0%, rgba(240,255,224,1) 100%);
    background: -webkit-linear-gradient(159deg, rgba(180,223,227,1) 0%, rgba(240,255,224,1) 100%);
    background: linear-gradient(159deg, rgba(180,223,227,1) 0%, rgba(240,255,224,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#b4dfe3",endColorstr="#f0ffe0",GradientType=1);
    background-size: 100% 100%;
    height: fit-content;
    min-height: 100%;
    text-align: center;
    position: fixed;
    transition: .7s;
    right: 0;
    z-index: 10;
}
.sidebar ul {
    pointer-events: auto;
}
.sidebar.collapse ul {
    pointer-events: none;
}
.sidebar .sidebartitle {
    color: var(--primarycolor);
    border-bottom: 3px solid var(--primarycolor);
    display: inline-block;
    height: 45px;
    font-size: 32px;
    margin-top: 60px;
}
.sidebar p {
    color: #40a8a8;
}
.sidebar li a {
    z-index: 2;
    position: relative;
    display: block;
    height: 100%;
    top: 0;
    left: 0;
    width: 100%;
    color: var(--linkcolor);
    text-decoration: none;
}
.sidebar li {
    padding-top: 8px;
    position: relative;
    transform-origin: right;
    margin-bottom: 6px;
}
.sidebar li a ~ span {
    position: absolute;
    display: block;
    width: 100%;
    height: 45px !important;
    top: 0;
    pointer-events: none;
    z-index: 1;
    transform-origin: right;
    transition-duration: 0.35s;
}
.sidebar li a:hover ~ span:after, .sidebar li.active a:not(:hover) ~ span:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    background: #fff; 
    transform: scaleX(1);
    transform-origin: right;
    transition-duration: 0.35s;
    z-index: 1;
}
.sidebar li a:not(:hover) ~ span:after {
    background: #aef1f8; 
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: left;
    z-index: 1;
    transition-duration: 0.35s;
}
.sidebar .menubtn {
    position: absolute;
    left: 8px;
    top: 8px;
    border: 1px solid var(--primarycolor);
    width: 28px;
    height: 28px;
    background: transparent;
    transition: .3s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sidebar .menubtn span {
    display: block;
    width: 60%;
    height: 1px;
    background: var(--primarycolor);

    transition: .3s;
}
.sidebar.collapse .menubtn {
    left: -40px;
}
.sidebar .menubtn span {
    transform: rotate(0);
}
.sidebar.collapse .menubtn span {
    transform: rotate(-35deg);
    margin: 2px;
    height: 2px;
}
.menubtn:hover {
    border: 1px solid var(--secondcolor);
}
.menubtn:hover span {
    background: var(--secondcolor);
}

/* content */
.sidebar ~ .content {
    max-width: 100%;
    height: 100%;
    padding: 50px 12%;
    transition: .7s;
    padding-right: calc(200px + 12%);
}
.sidebar.collapse ~ .content {
    padding-right: 12%;
}
.paper {
    background: #fff;
    padding: 20px;
    border-radius: 6px;
    box-shadow: 0 3px 8px 0 #dbe7e7;
    margin: 0 0 40px;
    position: relative;
    overflow: hidden;
}
.paper p.title {
    height: 20px;
    font-size: 18px;
    margin-bottom: 8px;
    line-height: 1.8;
}
.category {
    text-align: center;
    margin-bottom: 20px;
}
.category span {
    cursor: pointer;
    display: inline-block;
    color: var(--primarycolor);
    border: 1px solid var(--primarycolor);
    border-radius: 8px;
    height: 26px;
    padding: 6px 24px;
    margin: 4px;
    transition: .2s;
}
.category span:hover {
    background: rgba(72,178,178,0.5);
    color: #fff;
}
.category span.active {
    background: var(--primarycolor);
    color: #8defef;
}
/* portfolio */
.items-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}
.items-wrapper .item {
    width: 33.333%;
    padding: 0 15px 30px;
    box-sizing: border-box;
    position: relative;
    top: -8px;
    animation: fadein .5s forwards;
}
.items-wrapper .item > a {
    border: 1px solid #efefef;
    border-radius: 6px;
    overflow: hidden;
    display: block;
    color: inherit;
    position: relative;
    top: 0;
    transition: .2s;
}
.items-wrapper .item > a:hover {
    top: -6px;
    border: 1px solid var(--sidebarbgcolor);
}
.items-wrapper .item > a:hover img {
    transform: scale(1.5);
}
.items-wrapper .item img {
    width: 100%;
    height: 155px;
    object-fit: cover;
    display: block;
    transition: .3s;
}
.items-wrapper .item .text {
    padding: 15px;
}
.items-wrapper .item p, .items-wrapper .item small {
    margin: 0;
    display: block;
    height: 24px;
}
.img-wrapper {
    max-height: 155px;
    overflow: hidden;
    position: relative;
}
.items-wrapper .item > a:hover .img-wrapper::before {
    content: '';
    position: absolute;
    left: 72%;
    top: 50%;
    transform: translate(-72%, -50%) rotate(45deg);
    transform-origin: center;
    width: 16px;
    height: 16px;
    border-width: 1px 1px 0 0;
    border-color: #fff;
    border-style: solid;
    z-index: 5;
    opacity: 0;
    animation: go1 .8s infinite;
}
.items-wrapper .item > a:hover .img-wrapper::after {
    content: '';
    position: absolute;
    left: 70%;
    top: 50%;
    transform: translate(-70%, -50%);
    width: 35px;
    height: 1px;
    background: #fff;
    opacity: 0;
    animation: go2 .8s infinite;
}
@keyframes fadein {
    form {
        opacity: 0;
        top: -8px;
    }
    to {
        opacity: 1;
        top: 0;
    }
}
@keyframes go1 {
    form {
        opacity: 0;
        left: 72%;
    }
    to {
        opacity: 1;
        left: 92%;
    }
}
@keyframes go2 {
    form {
        opacity: 0;
        left: 70%;
    }
    to {
        opacity: 1;
        left: 90%;
    }
}

/* responsive */
@media screen and (max-width: 767px) {
    .sidebar ~ .content {
        padding-right: 12%;
    }
    .items-wrapper .item {
        width: 100%;
    }
}