/* reset */
body {
    margin: 0;
    font-family: 'Baloo Tammudu 2', 'Noto Sans TC', sans-serif;
    /* 'Noto Serif TC', */
    background: var(--bgcolor);
}
h1, h2, h3, h4, h5, p {
    margin: 0;
}
a {
    text-decoration: none;
}
button {
    border-style: none;
}
ul {
    list-style: none;
    padding-left: 0;
}

/* universal */
:root {
    --sidebarwidth: 200px;
    --sidebarbgcolor:#b4dfe3;
    --bgcolor:#f2fafa;
    --primarycolor: #48b2b2;
    --linkcolor: #000;
    --secondcolor:  #000;
}
.wrapper {
    width: 100%;
    /* height: 100vh; */
    /* display: flex; */
    /* flex-direction: row-reverse; */
}

/* sidebar */
.sidebar.collapse  {
    right: -190px;
}
.sidebar {
    width: var(--sidebarwidth);
    background: rgb(180,223,227);
    background: -moz-linear-gradient(159deg, rgba(180,223,227,1) 0%, rgba(240,255,224,1) 100%);
    background: -webkit-linear-gradient(159deg, rgba(180,223,227,1) 0%, rgba(240,255,224,1) 100%);
    background: linear-gradient(159deg, rgba(180,223,227,1) 0%, rgba(240,255,224,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#b4dfe3",endColorstr="#f0ffe0",GradientType=1);
    background-size: 100% 100%;
    height: fit-content;
    min-height: 100%;
    text-align: center;
    position: fixed;
    transition: .7s;
    right: 0;
    z-index: 10;
}
.sidebar ul {
    pointer-events: auto;
}
.sidebar.collapse ul {
    pointer-events: none;
}
.sidebar .sidebartitle {
    color: var(--primarycolor);
    border-bottom: 3px solid var(--primarycolor);
    display: inline-block;
    height: 45px;
    font-size: 32px;
    margin-top: 60px;
}
.sidebar p {
    color: #40a8a8;
}
.sidebar li a {
    z-index: 2;
    position: relative;
    display: block;
    height: 100%;
    top: 0;
    left: 0;
    width: 100%;
    color: var(--linkcolor);
    text-decoration: none;
}
.sidebar li {
    padding-top: 8px;
    position: relative;
    transform-origin: right;
    margin-bottom: 6px;
}
.sidebar li a ~ span {
    position: absolute;
    display: block;
    width: 100%;
    height: 45px !important;
    top: 0;
    pointer-events: none;
    z-index: 1;
    transform-origin: right;
    transition-duration: 0.35s;
}
.sidebar li a:hover ~ span:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    background: #fff; 
    transform: scaleX(1);
    transform-origin: right;
    transition-duration: 0.35s;
    z-index: 1;
}
.sidebar li a:not(:hover) ~ span:after {
    background: #aef1f8; 
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: left;
    z-index: 1;
    transition-duration: 0.35s;
}
.sidebar .menubtn {
    position: absolute;
    left: 8px;
    top: 8px;
    border: 1px solid var(--primarycolor);
    width: 28px;
    height: 28px;
    background: transparent;
    transition: .3s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sidebar .menubtn span {
    display: block;
    width: 60%;
    height: 1px;
    background: var(--primarycolor);

    transition: .3s;
}
.sidebar.collapse .menubtn {
    left: -40px;
}
.sidebar .menubtn span {
    transform: rotate(0);
}
.sidebar.collapse .menubtn span {
    transform: rotate(-35deg);
    margin: 2px;
    height: 2px;
}
.menubtn:hover {
    border: 1px solid var(--secondcolor);
}
.menubtn:hover span {
    background: var(--secondcolor);
}

/* content */
.sidebar ~ .content {
    max-width: 100%;
    height: 100%;
    padding: 50px 12%;
    transition: .7s;
    padding-right: calc(200px + 12%);
}
.sidebar.collapse ~ .content {
    /* flex-grow: 1; */
    padding-right: calc(12% + 10px);
}
.paper {
    background: #fff;
    padding: 20px;
    border-radius: 6px;
    box-shadow: 0 3px 8px 0 #dbe7e7;
    margin: 0 0 40px;
    position: relative;
    overflow: hidden;
}
.paper:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 12px;
    background: #bfe5e2;
}
.paper p.title {
    height: 20px;
    font-size: 18px;
    margin-bottom: 8px;
    line-height: 1.8;
}
.paper span {
    font-size: 14px;
    display: inline-block;
    color: #ccc;
    border: 1px solid rgb(219, 219, 219);
    border-radius: 8px;
    height: 24px;
    padding: 0 6px;
    margin-right: 8px;
}
@media screen and (max-width: 767px) {
    .sidebar ~ .content {
        padding-right: 5%;
    }
}